/* ===== SECTIONS ===== */
section {
    padding: 2rem 10% 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    text-align: center;
    height: 50rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--highlight);
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: var(--secondary);
}