/* ===== SECTIONS ===== */
section {
    padding: 2rem 10% 2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home {
    text-align: center;
    height: 50rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--highlight);
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: var(--secondary);
}

/* >-----------< */

.about-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap; /* Permet le retour à la ligne sur mobile */
}

/* Style pour le lien Contact */
#about a {
    background: var(--primary);
    color: var(--dark-bg);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

#about a:hover {
    background: var(--secondary);
    transform: translateY(-2px);
}

/* Style pour le bouton Download CV */
#button-cv {
    background: var(--primary);
    color: var(--dark-bg);
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

#button-cv:hover {
    background-color: var(--secondary);
    transform: translateY(-2px);
}

/* Alignement des éléments */
#about a, 
#button-cv {
    font-size: 1rem;
}