<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ALM PF</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/variables.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/background.css">
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/skill.css">
        <link rel="stylesheet" href="/static/css/project.css">
        <link rel="stylesheet" href="/static/css/contact.css">
    </head>
    <body>

        <header>
            <div>
                <a href="/">Abel Lebourgeois-Maitre</a>
            </div>
            <nav>
                <a href="#home">Index</a>
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#projects">Projets</a>
                <a href="#contact">Contact</a>
            </nav>
        </header>

        <div id="background" class="eye-container"></div>
        
        <section id="home">
            <h1>Welcome ! I'm Abel</h1>
            <p>Student Developer • Code Apprentice • Stack Explorer</p>
        </section>
        
        <section id="about">
            <h2>About Me</h2>
            <p>I am a student developer at Zone01 strengthening core computer science fundamentals through rigorous challenges. <br>
            My survival toolkit: <br>
            - Creative problem-solving to turn academic roadblocks to learning opportunities <br>
            - Relentless curiosity for modern tech stacks <br>
            - Scalability-first solutions for product development <br>
                
            Currently seeking apprenticeship in order to extend my knowledge and sharpen my technical skills through real-world code and building useful products.
            </p>
            <div class="about-buttons">
                <a href="#contact">Contact ⬇</a>
                <button id="button-cv">See CV ⮕</button>
            </div>
        </section>

        <section id="skills">
            <h2>Stacks & Skills</h2>
            <div class="skills-container">
                <h3>Stacks</h3>
                <span>Familiar with : </span>
                <div class="skills-sub-container">
                    <a id="cardGo" class="skill-card" href="https://go.dev/" target="_blank" rel="noopener">
                        <img src="./static/assets/go.svg">
                        <span>Golang</span>
                    </a>
                    <a id="cardJS" class="skill-card" href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank" rel="noopener">
                        <img src="./static/assets/javascript.svg">
                        <span>JavaScript</span>
                    </a>
                    <a id="cardTS" class="skill-card" href="https://www.typescriptlang.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/typescript.svg">
                        <span>TypeScript</span>
                    </a>
                    <a id="cardSQLite" class="skill-card" href="https://www.sqlite.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/sqlite.svg">
                        <span>SQLite</span>
                    </a>
                    <a id="cardPython" class="skill-card" href="https://www.python.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/python.svg">
                        <span>Python</span>
                    </a>
                    <a id="cardHTML" class="skill-card" href="https://html.spec.whatwg.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/html5.svg">
                        <span>HTML</span>
                    </a>
                    <a id="cardCSS" class="skill-card" href="https://www.w3.org/Style/CSS/" target="_blank" rel="noopener">
                        <img src="./static/assets/css3.svg">
                        <span>CSS</span>
                    </a>
                    <a id="cardSVG" class="skill-card" href="https://www.w3.org/Graphics/SVG/" target="_blank" rel="noopener">
                        <img src="./static/assets/svg.svg">
                        <span>SVG</span>
                    </a>
                    <a id="cardGit" class="skill-card" href="https://git-scm.com/" target="_blank" rel="noopener">
                        <img src="./static/assets/git.svg">
                        <span>Git</span>
                    </a>
                </div>
                <span>Learning ongoing :</span>
                <div class="skills-sub-container">
                    <a id="cardRust" class="skill-card" href="https://www.rust-lang.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/rust.svg">
                        <span>Rust</span>
                    </a>
                    <a id="cardJava" class="skill-card" href="https://www.java.com/" target="_blank" rel="noopener">
                        <img src="./static/assets/java.svg" alt="Logo Java">
                        <span>Java</span>
                    </a>
                    <a id="cardNode" class="skill-card" href="https://nodejs.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/nodedotjs.svg">
                        <span>Node.js</span>
                    </a>
                    <a id="cardPostgreSQL" class="skill-card" href="https://www.postgresql.org/" target="_blank" rel="noopener">
                        <img src="./static/assets/postgresql.svg" alt="PostgreSQL Logo">
                        <span>PostgreSQL</span>
                    </a>
                    <a id="cardMySQL" class="skill-card" href="https://www.mysql.com/" target="_blank" rel="noopener">
                        <img src="./static/assets/mysql.svg" alt="MySQL Logo">
                        <span>MySQL</span>
                    </a>
                    <a id="cardDocker" class="skill-card" href="https://www.docker.com/" target="_blank" rel="noopener">
                        <img src="./static/assets/docker.svg">
                        <span>Docker</span>
                    </a>
                    <a id="cardKubernetes" class="skill-card" href="https://kubernetes.io/" target="_blank" rel="noopener">
                        <img src="./static/assets/kubernetes.svg" alt="Kubernetes Logo">
                        <span>Kubernetes</span>
                    </a>
                </div>   
            </div>
            <div class="skills-container">
                <h3>Skills</h3>
                <div class="skills-sub-container-2">
                    <div class="skill-card-2">
                        <img src="./static/assets/web.svg" alt="Web Development" class="skill-icon">
                        <div class="skill-content">
                            <h4>Web Development</h4>
                            <p>HTML, CSS, JavaScript, and potentially frameworks to create responsive web applications.</p>
                        </div>
                    </div>
                    <div class="skill-card-2">
                        <img src="./static/assets/back.svg" alt="Backend Development" class="skill-icon">
                        <div class="skill-content">
                            <h4>Backend Development</h4>
                            <p>Go, Node.js (Java & Rust ?) for creating server-side applications and API(REST)s.</p>
                        </div>
                    </div>
                    <div class="skill-card-2">
                        <img src="./static/assets/database.svg" alt="Database" class="skill-icon">
                        <div class="skill-content">
                            <h4>Database Management</h4>
                            <p>Designing, managing and maintaining of relational databases with SQLite, mySQL or PostgreSQL.</p>
                        </div>
                    </div>
                    <div class="skill-card-2">
                        <img src="./static/assets/algo.svg" alt="Algorithm" class="skill-icon">
                        <div class="skill-content">
                            <h4>Algorithm Design</h4>
                            <p>Creating efficient algorithms for to revolve problems.</p>
                        </div>
                    </div>
                    <div class="skill-card-2">
                        <img src="./static/assets/security.svg" alt="Security" class="skill-icon">
                        <div class="skill-content">
                            <h4>Security</h4>
                            <p>Implementing secure coding practices and basic system security.</p>
                        </div>
                    </div>
                    <div class="skill-card-2">
                        <img src="./static/assets/devops.svg" alt="DevOps" class="skill-icon">
                        <div class="skill-content">
                            <h4>DevOps</h4>
                            <p>Implementation and deployment with Docker (and Kubernetes ?).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="projects">
            <h2>Projects</h2>
            <div class="projects-grid">
                <article class="project-card">
                    <div class="project-image">
                        <img src="./static/assets/forum-placeholder.jpg" alt="Capture du projet" loading="lazy">
                        <div class="project-links">
                            <a href="https://github.com/Raumgears/ForumZ01.git" class="project-link" target="_blank">
                                <img src="./static/assets/github.svg">
                            </a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3>Forum (Fishrum)</h3>
                        <p class="project-description">Création d'un forum fonctionnel avec pour contrainte : pas de JavaScript. Systèmes de posts, commentaires, likes/dislikes, notifications, images, profils et rôles pour la modération. Un peu de sécurité avec implémentation https, cypher suites et rate limiter (global ici). Possibilité de se connecter via application tierce (Discord, Google, GitHub). Codé en Golang avec des librairies imposées, HTML, CSS et SQL avec SQLite.</p>
                    </div>
                    <div class="project-tags">
                        <span class="tag">Golang</span>
                        <span class="tag">SQL</span>
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">Docker</span>
                    </div>
                </article>
                <article class="project-card">
                    <div class="project-image">
                        <img src="./static/assets/project-placeholder.jpg" alt="Capture du projet" loading="lazy">
                        <div class="project-links">
                            <a href="https://github.com/Raumgears/NetCatZ01.git" class="project-link" target="_blank">
                                <img src="./static/assets/github.svg">
                            </a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3>NetCat</h3>
                        <p class="project-description">Création d'un chat sur réseau local TCP, et fichier de logs de sauvegarde. En Golang avec les librairies standards uniquement.</p>
                    </div>
                    <div class="project-tags">
                        <span class="tag">Golang</span>
                    </div>
                </article>
                <article class="project-card">
                    <div class="project-image">
                        <img src="./static/assets/project-placeholder.jpg" alt="Capture du projet" loading="lazy">
                        <div class="project-links">
                            <a href="https://github.com/Raumgears/LemInZ01.git" class="project-link" target="_blank">
                                <img src="./static/assets/github.svg">
                            </a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3>Lem-In</h3>
                        <p class="project-description">Projet algorithmique de recherche de chemin avec des fichiers représentant des fourmilières. Le but est de trouver la série avec le minimum de coups permettant d'emmener toutes les fourmis d'une salle à un autre, avec pour contrainte: -Une fourmi par salle intermédiaire maximum, -Une fourmi par chemin maximum au même moment. En Golang et fichier test en Bash.</p>
                    </div>
                    <div class="project-tags">
                        <span class="tag">Golang</span>
                        <span class="tag">Bash</span>
                    </div>
                </article>
                <article class="project-card">
                    <div class="project-image">
                        <img src="./static/assets/project-placeholder.jpg" alt="Capture du projet" loading="lazy">
                        <div class="project-links">
                            <a href="https://github.com/Raumgears/Folio.git" class="project-link" target="_blank">
                                <img src="./static/assets/github.svg">
                            </a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3>Portfolio</h3>
                        <p class="project-description">Le Portfolio même sur lequel vous êtes à l'instant. En Golang pour le serveur, JavaScript pour les yeux, HTML et CSS, déployé avec Docker.</p>
                    </div>
                    <div class="project-tags">
                        <span class="tag">Golang</span>
                        <span class="tag">JavaScript</span>
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">Docker</span>
                    </div>
                </article>
                <article class="project-card">
                    <div class="project-image">
                        <img src="./static/assets/project-placeholder.jpg" alt="Capture du projet" loading="lazy">
                        <div class="project-links">
                            <a href="https://github.com/Raumgears/Folio.git" class="project-link" target="_blank">
                                <img src="./static/assets/github.svg">
                            </a>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3>Portfolio</h3>
                        <p class="project-description">Le Portfolio même sur lequel vous êtes à l'instant. En Golang pour le serveur, JavaScript pour les yeux, HTML et CSS, déployé avec Docker.</p>
                    </div>
                    <div class="project-tags">
                        <span class="tag">Golang</span>
                        <span class="tag">JavaScript</span>
                        <span class="tag">HTML</span>
                        <span class="tag">CSS</span>
                        <span class="tag">Docker</span>
                    </div>
                </article>
            </div>
        </section>

        <section id="contact">
            <h2>
            <span>Hey,</span>
            <span>Wanna Talk ?</span> 
            </h2>
            <div id="linksContainer" class="contact-card">
                <h3>Some links</h3>
                <a id="linkEmail" class="contact-link" href="mailto:abel.lebourgeoismaitre@gmail.com">
                <img class="contact-icon" src="./static/assets/mail.svg">
                <div class="link-text">
                    <h4>Mail</h4>
                    <span>abel.lebourgeoismaitre@gmail.com</span>
                </div>
                </a>
                <a id="linkLinkedIn" class="contact-link" href="https://linkedin.com/in/abel-lebourgeois-maitre-360069343" target="_blank">
                    <img class="contact-icon" src="./static/assets/linkedin.svg">
                    <div class="link-text">
                        <h4>LinkedIn</h4>
                        <span>linkedin.com/in/abel-lebourgeois-maitre<span>
                    </div>
                </a>
                <a id="linkGitHub" class="contact-link" href="https://github.com/Raumgears" target="_blank">
                    <img class="contact-icon" src="./static/assets/github.svg">
                    <div class="link-text">
                        <h4>github</h4>
                        <span>github.com/Raumgears</span>
                    </div>
                </a>
            </div>
            <div id="mailFormContainer" class="contact-card">
                <h3>Send me a Mail</h3>
                <form id="mailForm" method="POST" action="https://formsubmit.co/abel.lebourgeoismaitre@gmail.com">
                    <textarea type="text" name="name" placeholder="Write your message here !" required></textarea>
                    <input type="email" name="email" placeholder="your@email.ext" required>
                    <button type="submit">Send Email</button>
                </form>
            </div>
        </section>

        <script type="module">
            import { init } from "./script/main.js"
            init()
        </script>
    </body>
</html>